.idea
**__pycache__**
**.DS_Store**
data/*/*.txt
cfgs/*/*stereocarla.yaml

cfgs/foundationstereo/fstereo_*.yaml
cfgs/foundationstereo/fstereo_combine.yaml


pretrained-ckpt/
data_stereo_flow/

output/

.vscode/

train.log

